.logo{
    float: left;
    margin-left:-45px;
}
#search{
    width: 1230px;
    margin: 0 auto;
    /* overflow: hidden; */
}
.search-box{
    float: left;
    margin-left: 70px;
    /* background: pink; */
    margin-top: 35px;
    overflow: hidden;
}
.search-txt{
    width: 483px;
    height: 26px;
    border:2px solid #ff0036;
    padding: 5px 3px 5px 5px;
    outline: none;
    float: left;
    font-size: 15px;
}
.search-btn{
    width: 128px;
    height: 40px;
    background: #ff0036;
    color: #fff;
    font-size: 18px;
    border:2px solid #ff0036;
    float: left;
    /* 文字之间的空隙 */
    letter-spacing: 10px;
}
.search-list{
    margin-top: 9px;
    margin-left: -12px;
}
.search-list li{
    float: left;
    padding: 0 12px;
    border-left: 1px solid #999;
    line-height: 1.1;
}
.search-list li a{
    color:#999;
    font-size: 14px;
}
.search-list li.red a{
    color: #ff0036;
}
/* 水平分类 */
.inner-cont{
    height: 35px;
    line-height: 35px;
    /* background: #f00; */
    width: 1030px;
    margin:0 auto;
    padding-left:200px;
    border-bottom: 2px solid #ff0036;
}
.inner-cont img{
    width: 100px;
    height: 30px;
    margin-top:2px;
}
.inner-cont a{
    font-size: 16px;
    font-weight: 500;
    color: #333;
    float: left;
    margin:0 8px;
}

.inner-cont a:hover{
    color: #ff0036;
}


/* 主内容区域 */
.content{
    height: 1000px;
    background: url(../image/bg.jpg) center -207px no-repeat;
    position: relative;
}
.slide-content{
    height: 500px;
    width: 1230px;
    margin:0 auto;
    background: #f000f0;
}
.category{
    width: 200px;
    height: 500px;
    position: absolute;
    top: -36px;
    /* background: #cccccc; */
}
.cate-title{
    height: 36px;
    line-height: 36px;
    color: #fff;
    background: #ff0036;
    font-size: 16px;
    padding-left: 15px;
}
.main-cate-box{
    background: rgba(0,0,0,0.55);
    position: relative;
    z-index: 2;
}
.category .main-cate{
    height: 33.4px;
    line-height: 33.4px;
    padding: 0 8px;
}
.category .main-cate i{
    color: #999;
}
.main-cate>a{
    color: #fff;
    font-size: 14px;
}
.category .main-cate:hover{
    background: #fff;
}
/* .category .main-cate:hover>a{
   color: #ff0036
}
.category .main-cate:hover>.main-cate-1{
    color: #ff0036
} */
.main-cate-1{
    color: #fff;
}
.category .main-cate:nth-child(1):hover>a,.category .main-cate:nth-child(1):hover>.main-cate-1,.category .main-cate:nth-child(1):hover>i{
    color: #ff0036
}
.category .main-cate:nth-child(2):hover>a,.category .main-cate:nth-child(2):hover>.main-cate-1,.category .main-cate:nth-child(2):hover>i{
    color: greenyellow;
}
.category .main-cate:nth-child(3):hover>a,.category .main-cate:nth-child(3):hover>.main-cate-1,.category .main-cate:nth-child(3):hover>i{
    color: burlywood;
}
.category .main-cate:nth-child(4):hover>a,.category .main-cate:nth-child(4):hover>.main-cate-1,.category .main-cate:nth-child(4):hover>i{
    color: #ff0036
}
.category .main-cate:nth-child(5):hover>a,.category .main-cate:nth-child(5):hover>.main-cate-1,.category .main-cate:nth-child(5):hover>i{
    color: yellow;
}
.category .main-cate:nth-child(6):hover>a,.category .main-cate:nth-child(6):hover>.main-cate-1,.category .main-cate:nth-child(6):hover>i{
    color: yellowgreen;
}
.category .main-cate:nth-child(7):hover>a,.category .main-cate:nth-child(7):hover>.main-cate-1,.category .main-cate:nth-child(7):hover>i{
    color: blue;
}
.category .main-cate:nth-child(8):hover>a,.category .main-cate:nth-child(8):hover>.main-cate-1,.category .main-cate:nth-child(8):hover>i{
    color: green;
}
.category .main-cate:nth-child(9):hover>a,.category .main-cate:nth-child(9):hover>.main-cate-1,.category .main-cate:nth-child(9):hover>i{
    color: pink;
}
.category .main-cate:nth-child(10):hover>a,.category .main-cate:nth-child(10):hover>.main-cate-1,.category .main-cate:nth-child(10):hover>i{
    color: #ff0036;
}
.category .main-cate:nth-child(11):hover>a,.category .main-cate:nth-child(11):hover>.main-cate-1,.category .main-cate:nth-child(11):hover>i{
    color: greenyellow;
}
.category .main-cate:nth-child(12):hover>a,.category .main-cate:nth-child(12):hover>.main-cate-1,.category .main-cate:nth-child(12):hover>i{
    color: goldenrod;
}
.category .main-cate:nth-child(13):hover>a,.category .main-cate:nth-child(13):hover>.main-cate-1,.category .main-cate:nth-child(13):hover>i{
    color: blueviolet;
}
.category .main-cate:nth-child(14):hover>a,.category .main-cate:nth-child(14):hover>.main-cate-1,.category .main-cate:nth-child(14):hover>i{
    color: #ff0036;
}
.category .main-cate:nth-child(15):hover>a,.category .main-cate:nth-child(15):hover>.main-cate-1,.category .main-cate:nth-child(15):hover>i{
    color: burlywood;
}
/*  */
.cate-sub-list{
    width: 805px;
    height: 500px;
    background: #fff;
    position: absolute;
    left: 200px;
    top:0px;
    /* top: -33.4px; */
    display: none;
}
.main-cate:hover .cate-sub-list{
    display: block;
}
.list-left{
    width: 566px;
    height: 462px;
    /* background: #ff0000; */
    float: left;
    padding: 10px 0px 19px 30px;
}
.list-right{
    width: 177px;
    height: 488px;
    background: gainsboro;
    border: 6px solid gainsboro;
    float: right;
}
.list-right a{
    line-height: 0px;
    float: left;
}
.list-right a img{
    width: 85px;
    height: 45px;
    padding:2px 0 1px 3px;
}
.list-right a:hover img{
    opacity: 0.7;
}
.list-right a .a1{
    width: 173px;
    height: 98px;
    padding:2px 0 1px 3px;
}
.left-list-title{
    width: 89px;
    float: left;
    color: #333;
    font-size: 14px;
    font-weight: 700;
    line-height: 22px;
    margin-top: 5px;
    /* background: #f000f0; */
}
.left-list-content{
    width: 477px;
    float: left;
    /* background: #999; */
    border-bottom:1px dashed rgba(0,0,0,.1);
}
.left-list-content a{
    color: #666;
    font-size:14px;
    margin-right:13px;
}
.left-list-content li{
    float: left;
}
.list-left-row{
    margin:5px 0;
}
.left-list-content .special-color{
    color:#e54077;
}
.left-list-content li:hover .special-color1{
    color:#e54077;
}
/* 轮播图 */
.slide-img-box img{
    width: 1230px;
    height: 500px;
}
.slide-box{
    position: relative;
    height: 500px;
}
.slide-box .slide-img-box a{
    position: absolute;
    left:0px;
    top:0px; 
}
.slide-btn-box{
    position: absolute;
    bottom:50px;
    left:50%;
    /* background: yellow; */
    width: 400px;
    /* 已知宽度 */
    /* margin-left:-100px; */
    /* 不知道宽度  css3 transform: translateX(-50%); */
    /* transform: translateX(-50%);    */
}
.slide-btn-box li{
    float: left;
    width: 25px;
    height: 5px;
    margin-left: 5px;
    background: rgba(0,0,0,0.3);
}
.slide-btn-box li:hover{
    color: #666;
}
.slide-img-box-right img{
    width: 220px;
    height: 235px;
}
.slide-img-box-right1{
   position: absolute;
   top: 8px;
   right: 5px;
   background: rgba(255, 255, 255, 0.9);
}
.slide-img-box-right2{
    position: absolute;
    bottom: 8px;
    right: 5px;
    background: rgba(255, 255, 255, 0.9);
}
.slide-img-box-right:hover{
    cursor: pointer;
   background: #fff;
}
/* 品牌闪购 */
.brand-sale{
    height: 400px;
    width: 1230px;
    margin: 0 auto;
    margin-top:30px;
}
.brand-list{
    width: 234px;
    background: #fff;
    float: left;
}
.brand-list-title{
    padding-left:10px;
    height: 54px;
    line-height: 54px;
    font-family: "Microsoft YaHei",SimSun,'\5b8b\4f53',sans-serif;
}
.brand-title-cn{
    font-size: 18px;
    color: #333;
    font-weight: 700;
    margin-right:4px;
}
.brand-title-en{
    font-size: 14px;
    color: #333;
    font-weight: 600;
}
.brand-more{
    width: 18px;
    height: 18px;
    float: right;
    line-height: 64px;
    margin-right: 15px;
}
.brand-more img{
    width: 18px;
    height: 18px;
}
.brand-list-img img{
    width: 234px;
    height: 316px;
    display: block;
}
.brand-list-img:hover{
    cursor: pointer;
    opacity: 0.5;
}
/* juyoupin */
.brand-list1{
    width: 485px;
    background: #fff;
    float: left;
    margin-left:13px;
}
.brand-list1-title{
    padding-left:10px;
    height: 54px;
    line-height: 54px;
    font-family: "Microsoft YaHei",SimSun,'\5b8b\4f53',sans-serif;
}
.brand-more1{
    width: 55px;
    height: 55px;
    float: right;
    line-height: 64px;
    margin-right: 15px;
}
.brand-more1 span{
    width: 18px;
    height: 18px;
    font-size: 16px;
    color: #333;
    line-height: normal;
    padding-right: 1px;
    vertical-align: 4px;
    /* line-height: 54px; */
}
.brand-more1 img{
    width: 18px;
    height: 18px;
    /* float: left; */
}
.brand-list1-img img{
    width: 485px;
    height: 316px;
    display: block;
}
.brand-list1-img:hover{
    cursor: pointer;
    opacity: 0.5;
}
/* 图片区 */
.content-paper{
    /* width: 1230px;
    height: 327px;
    background: #999;
    margin: 0 auto; */
    height: 327px;
    margin-top: 15px;
}
.content-paper-1{
    width: 122px;
    height: 108px;
    margin-right: 1px;
    margin-bottom: 1px;
    overflow: hidden;
    position: relative;
    float: left;
}
/* .content-paper-list{
    width: 122px;
    height: 108px;
    background: #fff;
    /* position: absolute; 
} */
.content-paper-enter{
    position: absolute;
    left:0px;
    top:0px;
    bottom:0px;
    right:0px;
    background:rgba(0,0,0,0.8);
    /* width:100%;
    height: 100%; */
    text-align: center;
    opacity: 0;
    transition: opacity 0.5s ease ;
}
.content-paper-list img{
    width: 82%;
    height: 50px;
    display: block;
    margin:30px auto;
}
.content-paper-1:hover .content-paper-enter{
    opacity: 1;
}
.content-paper-enter1{
    color: #fff;
    text-align: center;
    margin-top:38px;
    padding: 0 4px 0 4px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
/* .content-paper-enter span{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
} */
.content-paper-enter2{
   display: inline-block;
   width: 63px;
   height: 18px;
   line-height: 18px;
   background: #ff0036;
   color: #fff;
   text-align: center;
   border-radius:9px;
   margin-top:5px;
}
.content-paper-enter-1{
    background: #FF0036;
    color: #fff;
}
/*.content-paper-1>.content-paper-enter-1>.content-paper-enter2{
    font-size: 15px;
}
 .content-paper-enter1:hover>span>i{
    transform: rotate(180deg);
    transform-origin: 50% 25%;
}
.content-paper-enter1>span>i{
    transition: transform 0.5s ease-out;
} */
.content-a i{
    width: 40px;
    height: 40px;
    color: #999;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -20px;
    margin-top: -30px;
    font-size: 30px;
    text-align: center;
    line-height: 38px;
    border-radius: 20px;
}
.content-a span{
    display: block;
    color: #999;
    font-size: 14px;
    line-height: 136px;
    text-align: center;
}
.content-paper-1-1:hover{
    background: #ff0036;
}
.content-paper-1-1:hover>a>i{
    color: #fff;
    transform: rotate(180deg);
    transition: transform 0.3s ease-out;
    -webkit-transition: transform 0.3s ease-out;
    -moz-transition: transform 0.3s ease-out;
    -ms-transition: transform 0.3s ease-out;
    -o-transition: transform 0.3s ease-out;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
}
.content-paper-1-1:hover>a>span{
    color: #fff;
}
/* 天猫超市2 */
.inner-cont2{
    margin-top: 20px;
    height: 665px;
    background: pink;
}
/* .inner-cont2-title{
    height: 500px;
} */
.inner-cont2-title-right{
    float: right;
    width: 800px;
}
.inner-cont2-title-right>a{
    float: right;
    height: 20px;
    line-height: 35px;
    margin: 5px 10px;
    font-size: 14px;
    color: #000;
    text-align: right;
    /* border: none;
    border-bottom: 1px solid #f5f5f5; */
}
.inner-cont2-title-right>a:hover{
    text-decoration:underline;
}
.inner-cont2-title-left{
    /* float: left; */
}
.inner-cont2-title-left>img{
    vertical-align: middle;
    width: 214px;
    height: 25px;
    margin: 10px 0;
}
.inner-cont2-title-left>a{
    font-size: 12px;
    color: #000;
}
.inner-cont2-picture{
    float: left;
    height: 618px;
}
.inner-cont2-picture-left{
    height: 618px;
    position: relative;
}
.inner-cont2-picture-left>.inner-cont2-picture-left1>img{
    width: 235px;
    height: 618px;
    
}

.xiaobiao{
    background: rgba(0,0,0,.9);
    color: #fff;
    width: 65px;
    height: 64px;
    line-height: 36px;
    position: absolute;
    top: 450px;
    left: 0;
}
.xiaobiao span{
    display: inline-block;
    vertical-align: middle;
    height: 24px;
    line-height: 24px;
    font-size: 18px;
    font-weight: 500;
    width: 36px;
    padding-left: 14.5px;
}
.xiaobiao2{
    background: rgba(0,0,0,0.5);
    color: #fff;
    width: 130px;
    height: 64px;
    position: absolute;
    top: 450px;
    left: 65px;
}
.xiaobiao2 span{
    display: block;
    width: 114px;
    height: 24px;
    line-height: 36px;
    font-size: 18px;
    margin-left: 14.5px;
}
.inner-cont2-picture-left3{
    position: absolute;
    bottom: 10px;
    right: 15px;
}
.inner-cont2-picture-left3 img{
    width: 35px;
    height: 35px;
}



