.logo{
    float: left;
    margin-left:-45px;
}
#search{
    width: 1230px;
    margin: 0 auto;
    /* overflow: hidden; */
}
.search-box{
    float: left;
    margin-left: 70px;
    /* background: pink; */
    margin-top: 35px;
    overflow: hidden;
}
.search-txt{
    width: 483px;
    height: 26px;
    border:2px solid #ff0036;
    padding: 5px 3px 5px 5px;
    outline: none;
    float: left;
    font-size: 15px;
}
.search-btn{
    width: 128px;
    height: 40px;
    background: #ff0036;
    color: #fff;
    font-size: 18px;
    border:2px solid #ff0036;
    float: left;
    /* 文字之间的空隙 */
    letter-spacing: 10px;
}
.search-list{
    margin-top: 9px;
    margin-left: -12px;
}
.search-list li{
    float: left;
    padding: 0 12px;
    border-left: 1px solid #999;
    line-height: 1.1;
}
.search-list li a{
    color:#999;
    font-size: 14px;
}
.search-list li.red a{
    color: #ff0036;
}
/* 水平分类 */
.inner-cont{
    height: 35px;
    line-height: 35px;
    /* background: #f00; */
    width: 1030px;
    margin:0 auto;
    padding-left:200px;
    border-bottom: 2px solid #ff0036;
}
.inner-cont img{
    width: 100px;
    height: 30px;
    margin-top:2px;
}
.inner-cont a{
    font-size: 16px;
    font-weight: 500;
    color: #333;
    float: left;
    margin:0 8px;
}

.inner-cont a:hover{
    color: #ff0036;
}


/* 主内容区域 */
.content{
    height: 1000px;
    background: url(../image/bg.jpg) center -207px no-repeat;
    position: relative;
}
.slide-content{
    height: 500px;
    width: 1230px;
    margin:0 auto;
    background: #f000f0;
}
.category{
    width: 200px;
    height: 500px;
    position: absolute;
    top: -36px;
    /* background: #cccccc; */
}
.cate-title{
    height: 36px;
    line-height: 36px;
    color: #fff;
    background: #ff0036;
    font-size: 16px;
    padding-left: 15px;
}
.main-cate-box{
    background: rgba(0,0,0,0.55);
    position: relative;
    z-index: 2;
}
.category .main-cate{
    height: 33.4px;
    line-height: 33.4px;
    padding: 0 8px;
}
.category .main-cate i{
    color: #999;
}
.main-cate>a{
    color: #fff;
    font-size: 14px;
}
.category .main-cate:hover{
    background: #fff;
}
/* .category .main-cate:hover>a{
   color: #ff0036
}
.category .main-cate:hover>.main-cate-1{
    color: #ff0036
} */
.main-cate-1{
    color: #fff;
}
.category .main-cate:nth-child(1):hover>a,.category .main-cate:nth-child(1):hover>.main-cate-1,.category .main-cate:nth-child(1):hover>i{
    color: #ff0036
}
.category .main-cate:nth-child(2):hover>a,.category .main-cate:nth-child(2):hover>.main-cate-1,.category .main-cate:nth-child(2):hover>i{
    color: greenyellow;
}
.category .main-cate:nth-child(3):hover>a,.category .main-cate:nth-child(3):hover>.main-cate-1,.category .main-cate:nth-child(3):hover>i{
    color: burlywood;
}
.category .main-cate:nth-child(4):hover>a,.category .main-cate:nth-child(4):hover>.main-cate-1,.category .main-cate:nth-child(4):hover>i{
    color: #ff0036
}
.category .main-cate:nth-child(5):hover>a,.category .main-cate:nth-child(5):hover>.main-cate-1,.category .main-cate:nth-child(5):hover>i{
    color: yellow;
}
.category .main-cate:nth-child(6):hover>a,.category .main-cate:nth-child(6):hover>.main-cate-1,.category .main-cate:nth-child(6):hover>i{
    color: yellowgreen;
}
.category .main-cate:nth-child(7):hover>a,.category .main-cate:nth-child(7):hover>.main-cate-1,.category .main-cate:nth-child(7):hover>i{
    color: blue;
}
.category .main-cate:nth-child(8):hover>a,.category .main-cate:nth-child(8):hover>.main-cate-1,.category .main-cate:nth-child(8):hover>i{
    color: green;
}
.category .main-cate:nth-child(9):hover>a,.category .main-cate:nth-child(9):hover>.main-cate-1,.category .main-cate:nth-child(9):hover>i{
    color: pink;
}
.category .main-cate:nth-child(10):hover>a,.category .main-cate:nth-child(10):hover>.main-cate-1,.category .main-cate:nth-child(10):hover>i{
    color: #ff0036;
}
.category .main-cate:nth-child(11):hover>a,.category .main-cate:nth-child(11):hover>.main-cate-1,.category .main-cate:nth-child(11):hover>i{
    color: greenyellow;
}
.category .main-cate:nth-child(12):hover>a,.category .main-cate:nth-child(12):hover>.main-cate-1,.category .main-cate:nth-child(12):hover>i{
    color: goldenrod;
}
.category .main-cate:nth-child(13):hover>a,.category .main-cate:nth-child(13):hover>.main-cate-1,.category .main-cate:nth-child(13):hover>i{
    color: blueviolet;
}
.category .main-cate:nth-child(14):hover>a,.category .main-cate:nth-child(14):hover>.main-cate-1,.category .main-cate:nth-child(14):hover>i{
    color: #ff0036;
}
.category .main-cate:nth-child(15):hover>a,.category .main-cate:nth-child(15):hover>.main-cate-1,.category .main-cate:nth-child(15):hover>i{
    color: burlywood;
}
/*  */
.cate-sub-list{
    width: 805px;
    height: 500px;
    background: #fff;
    position: absolute;
    left: 200px;
    top:0px;
    /* top: -33.4px; */
    display: none;
}
.main-cate:hover .cate-sub-list{
    display: block;
}
.list-left{
    width: 566px;
    height: 462px;
    /* background: #ff0000; */
    float: left;
    padding: 10px 0px 19px 30px;
}
.list-right{
    width: 189px;
    height: 500px;
    background: #0000ff;
    float: right;
}
.left-list-title{
    width: 89px;
    float: left;
    color: #333;
    font-size: 14px;
    font-weight: 700;
    line-height: 22px;
    margin-top: 5px;
    /* background: #f000f0; */
}
.left-list-content{
    width: 477px;
    float: left;
    /* background: #999; */
    border-bottom:1px dashed rgba(0,0,0,.1);
}
.left-list-content a{
    color: #666;
    font-size:14px;
    margin-right:13px;
}
.left-list-content li{
    float: left;
}
.list-left-row{
    margin:5px 0;
}
.left-list-content .special-color{
    color:#e54077;
}
.left-list-content li:hover .special-color1{
    color:#e54077;
}
/* 轮播图 */
.slide-img-box img{
    width: 1230px;
    display: block;
    height: 500px;
}
.slide-box{
    position: relative;
    height: 500px;
}
.slide-box a{
    position: absolute;
    left:0px;
    top:0px; 
}
.slide-btn-box{
    position: absolute;
    bottom:50px;
    left:50%;
    /* background: yellow; */
    width: 400px;
    /* 已知宽度 */
    /* margin-left:-100px; */
    /* 不知道宽度  css3 transform: translateX(-50%); */
    /* transform: translateX(-50%);    */
}
.slide-btn-box li{
    float: left;
    width: 25px;
    height: 5px;
    margin-left: 5px;
    background: rgba(0,0,0,0.3);
}
.slide-btn-box li:hover{
    color: #666;
}